.frame-child {
  height: 33.7px;
  width: 45px;
  position: absolute;
  margin: 0 !important;
  bottom: 37.8px;
  left: 0;
}
.moodholiclogo-2-icon {
  height: 114.9px;
  width: 167px;
  position: relative;
  object-fit: cover;
}
.div {
  position: relative;
  line-height: 21.6px;
  font-weight: 500;
  display: inline-block;
  min-width: 71px;
  white-space: nowrap;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.2px var(--padding-smi-9) 0 0;
}
.image-1-icon {
  height: 56.8px;
  width: 59.8px;
  position: absolute;
  margin: 0 !important;
  top: -17px;
  left: -53.9px;
  object-fit: cover;
}
.div1 {
  flex: 1;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
  z-index: 1;
}
.dot-symbol,
.image-1-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-1-parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.dot-symbol {
  width: 60px;
  flex-direction: column;
  padding: 5.3px 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
}
.group-icon,
.group-icon1 {
  position: relative;
  min-height: 33px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.group-icon {
  height: 33.2px;
  width: 35px;
}
.group-icon1 {
  align-self: stretch;
  width: 38.7px;
  max-height: 100%;
  object-fit: contain;
}
.media-label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 26px;
}
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  width: 323.6px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 33.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.ai-inner,
.frame-parent {
  display: flex;
  flex-direction: row;
}
.frame-parent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-794xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
}
.ai-inner {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 var(--padding-base-4);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.ai-inner,
.r-b-name,
.r-b-name-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.r-b-name {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
}
.r-b-name-wrapper {
  height: 16.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 15.8px;
}
.a-i-recommendation-label-child {
  height: 29.1px;
  width: 102.4px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.vector-icon {
  width: 15.2px;
  height: 13.8px;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.1px 0 0;
}
.div2 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 18.4px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: #9a9a9a;
  text-align: left;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.a-i-recommendation-label {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs-6) var(--padding-xs) 5.5px 13.1px;
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.7px;
}
.a-i-recommendation-label-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 7.3px 0 var(--padding-6xs);
}
.vegetarian-or-nonvegetarian-la-child {
  width: 621px;
  height: 859px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-lavender);
  display: none;
  max-width: 100%;
}
.heart-symbol {
  height: 161.4px;
  width: calc(100% - 16.4px);
  position: absolute;
  margin: 0 !important;
  top: -1.2px;
  right: 8.1px;
  left: 8.3px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  z-index: 1;
}
.icon,
.icon1 {
  position: relative;
  object-fit: cover;
}
.icon {
  height: 159px;
  width: 198.3px;
  display: none;
}
.icon1 {
  height: 74.8px;
  width: 75.9px;
  z-index: 3;
}
.heart-symbol-parent,
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  padding: var(--padding-23xl-4) 60.8px var(--padding-22xl-8) 61.6px;
  background-image: url(./public/-20240405--318@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.heart-symbol-parent {
  position: relative;
  min-width: 198.30000000000015px;
}
.frame-item {
  width: 340.7px;
  height: 159.9px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.div3,
.frame-inner {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
}
.frame-inner {
  height: 33.2px;
  width: 33.2px;
  min-height: 33px;
}
.div3 {
  font-weight: 600;
}
.container,
.frame-parent1,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: column;
  padding: var(--padding-5xs-5) 0 0;
}
.frame-parent1,
.frame-wrapper1 {
  flex-direction: row;
}
.frame-parent1 {
  gap: 15.7px;
}
.frame-wrapper1 {
  padding: 0 var(--padding-mini) 0 var(--padding-base-5);
}
.line-div {
  align-self: stretch;
  height: 0.8px;
  position: relative;
  border-top: 0.8px solid #ebebeb;
  box-sizing: border-box;
  z-index: 2;
}
.fluentbook-number-24-filled-icon {
  height: 34px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.div4 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 33px;
  z-index: 2;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.fluentbook-number-24-filled-parent {
  flex-direction: row;
  gap: 13.7px;
}
.fluentbook-number-24-filled-parent,
.frame-wrapper2,
.line-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  flex-direction: row;
  padding: 0 var(--padding-sm) 0 13.7px;
}
.line-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 17.7px;
}
.frame-div,
.rectangle-parent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  flex: 1;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-6xl-3) 15.2px var(--padding-6xl);
  gap: 23.9px;
  min-width: 222px;
  z-index: 1;
}
.frame-div {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 11.1px;
  gap: 11px;
  font-size: var(--font-size-xl);
}
.rectangle-div {
  width: 541.8px;
  height: 310.4px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.div5,
.icon2 {
  position: relative;
  z-index: 2;
}
.icon2 {
  height: 34.3px;
  width: 33.4px;
  object-fit: cover;
  min-height: 34px;
}
.div5 {
  font-weight: 600;
  display: inline-block;
  min-width: 83px;
  white-space: nowrap;
}
.group,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper1 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.group {
  flex-direction: row;
  gap: var(--gap-8xs-8);
}
.div6 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  z-index: 2;
}
.frame-parent2,
.wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper2 {
  flex-direction: row;
  padding: 0 0 0 8.7px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent2 {
  flex-direction: column;
  gap: 18.4px;
}
.div7,
.icon3 {
  position: relative;
  z-index: 2;
}
.icon3 {
  height: 34.3px;
  width: 33.4px;
  object-fit: cover;
  min-height: 34px;
}
.div7 {
  font-weight: 600;
  display: inline-block;
  min-width: 83px;
  white-space: nowrap;
}
.daily-story,
.wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper3 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.daily-story {
  flex-direction: row;
  gap: var(--gap-8xs-8);
}
.p,
.p1,
.p2,
.p3 {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.p4 {
  margin: 0;
}
.div8 {
  width: 397px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.classroom-prep,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.classroom-prep {
  flex-direction: row;
  padding: 0 9px 0 var(--padding-3xs-1);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.rectangle-group {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: column;
  padding: 23.5px 26.2px var(--padding-7xl);
  gap: var(--gap-4xl);
  z-index: 1;
  color: var(--color-dimgray-100);
}
.vector-icon1 {
  height: 20.4px;
  width: 20.3px;
  position: relative;
  z-index: 1;
}
.vector-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-14xl) 0 35.7px;
}
.ai-pick {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.frame-parent4,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
}
.frame-parent4 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.4px;
}
.frame-wrapper3 {
  width: 446.6px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child1 {
  height: 28.8px;
  width: 46.1px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  display: none;
}
.div9 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 34px;
  z-index: 1;
}
.rectangle-container {
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-9) var(--padding-8xs) var(--padding-9xs-9)
    var(--padding-6xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs-6);
}
.frame-child2 {
  height: 46.1px;
  width: 378.8px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.div10,
.vector-icon2 {
  position: relative;
  z-index: 1;
}
.vector-icon2 {
  height: 19.4px;
  width: 20.1px;
  min-height: 19px;
}
.div10 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.food-story,
.miyeokguk-hanjeong {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.food-story {
  flex-direction: column;
  padding: var(--padding-11xs-1) 0 0;
}
.miyeokguk-hanjeong {
  flex-direction: row;
  gap: var(--gap-2xs-4);
}
.div11,
.kim-buphoo-icon {
  position: relative;
  z-index: 1;
}
.kim-buphoo-icon {
  height: 21.2px;
  width: 22px;
  min-height: 21px;
}
.div11 {
  font-weight: 600;
  display: inline-block;
  min-width: 8px;
}
.kim-buphoo-parent,
.wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper4 {
  flex-direction: column;
  padding: 3.1px 0 0;
}
.kim-buphoo-parent {
  flex-direction: row;
  padding: 0 var(--padding-smi-9) 0 0;
  gap: var(--gap-mini-6);
}
.div12,
.vector-icon3 {
  position: relative;
  z-index: 1;
}
.vector-icon3 {
  height: 19.4px;
  width: 21.5px;
  min-height: 19px;
}
.div12 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 30px;
}
.group-div,
.miyeokguk-hanjeong1,
.wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper5 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.group-div,
.miyeokguk-hanjeong1 {
  flex-direction: row;
  gap: var(--gap-xs-3);
}
.group-div {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  align-items: flex-end;
  justify-content: space-between;
  padding: 12.6px 29.2px 12.3px var(--padding-15xl-4);
  box-sizing: border-box;
  min-width: 196px;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.material-symbolsheart-plus-ou-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.a-i-recommendations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
}
.frame-parent6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  min-width: 268px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent3,
.frame-parent5 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.frame-parent5 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-lg-5);
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.frame-parent3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-200);
}
.frame-child3 {
  height: 28.8px;
  width: 46.1px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  display: none;
}
.div13 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 34px;
  z-index: 1;
}
.rectangle-parent1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-9) var(--padding-8xs) var(--padding-9xs-9)
    var(--padding-6xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 7.8px;
}
.frame-child4 {
  height: 46.1px;
  width: 378.8px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.div14,
.group-icon2 {
  position: relative;
  z-index: 1;
}
.group-icon2 {
  height: 22.4px;
  width: 22.6px;
  min-height: 22px;
}
.div14 {
  font-weight: 600;
  display: inline-block;
  min-width: 17px;
}
.wrapper6 {
  flex-direction: column;
  padding: 4.1px 0 0;
}
.kim-bok-joo,
.kim-bok-joo-wrapper,
.wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kim-bok-joo {
  flex-direction: row;
  gap: var(--gap-sm-5);
}
.kim-bok-joo-wrapper {
  width: 99.8px;
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
  box-sizing: border-box;
}
.dean,
.group-icon3 {
  position: relative;
  z-index: 1;
}
.group-icon3 {
  height: 21.4px;
  width: 22.5px;
  min-height: 21px;
}
.dean {
  font-weight: 600;
  display: inline-block;
  min-width: 42px;
}
.dean-wrapper {
  flex-direction: column;
  padding: 3.4px 0 0;
}
.dean-wrapper,
.r-b-label,
.r-b-label-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.r-b-label {
  flex-direction: row;
  gap: var(--gap-sm-5);
}
.r-b-label-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.rb,
.vector-icon4 {
  position: relative;
  z-index: 1;
}
.vector-icon4 {
  height: 19.4px;
  width: 21.5px;
}
.rb {
  font-weight: 600;
  display: inline-block;
  min-width: 30px;
}
.rb-wrapper,
.rectangle-parent2,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rb-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.rectangle-parent2,
.vector-parent {
  flex-direction: row;
  gap: var(--gap-sm-5);
}
.rectangle-parent2 {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  justify-content: space-between;
  padding: var(--padding-smi-1) var(--padding-8xl) var(--padding-2xs-3) 31.8px;
  box-sizing: border-box;
  min-width: 243px;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.material-symbolsheart-plus-ou-icon1 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.material-symbolsheart-plus-ou-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.4px 0 0;
}
.frame-parent7,
.frame-parent8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent8 {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-4xs);
  min-width: 268px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent7 {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-lg-5);
  max-width: 100%;
}
.frame-child5 {
  height: 28.8px;
  width: 46.1px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  display: none;
}
.div15 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 34px;
  z-index: 1;
}
.frame-wrapper6,
.rectangle-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent3 {
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue-100);
  flex-direction: row;
  padding: var(--padding-9xs-9) var(--padding-8xs) var(--padding-9xs-9)
    var(--padding-6xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frame-wrapper6 {
  flex-direction: column;
  padding: 5.1px 0 0;
}
.frame-child6 {
  height: 46.1px;
  width: 378.8px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.div16,
.vector-icon5 {
  position: relative;
  z-index: 1;
}
.vector-icon5 {
  height: 17.6px;
  width: 22px;
}
.div16 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.frame-wrapper7,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-group {
  flex-direction: row;
  gap: 9.4px;
}
.frame-wrapper7 {
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-3xl) 0 0;
}
.div17,
.vector-icon6 {
  position: relative;
  z-index: 1;
}
.vector-icon6 {
  height: 25.9px;
  width: 23.8px;
  min-height: 26px;
}
.div17 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.love-heart,
.vector-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.love-heart {
  flex-direction: column;
  padding: 6.6px 0 0;
}
.vector-parent1 {
  flex-direction: row;
  gap: 9.2px;
}
.div18,
.vector-icon7 {
  position: relative;
  z-index: 1;
}
.vector-icon7 {
  height: 19.4px;
  width: 21.5px;
}
.div18 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.food-items {
  flex-direction: column;
  padding: 2.6px 0 0;
}
.food-items,
.frame-wrapper8,
.vector-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent2 {
  flex-direction: row;
  gap: 10.5px;
}
.frame-wrapper8 {
  flex-direction: column;
  padding: 2.5px 0 0;
}
.rectangle-parent4 {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mini-1) 8.2px var(--padding-15xl-4);
  box-sizing: border-box;
  min-width: 246px;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.material-symbolsheart-plus-ou-icon2 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.material-symbolsheart-plus-ou-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs-1);
}
.frame-parent10,
.frame-parent9 {
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent10 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-3xs-9);
  min-width: 268px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent9 {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 17.6px;
}
.food-preference,
.frame-parent9,
.music-media {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.food-preference {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26.2px;
}
.music-media {
  width: 500.6px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-smi-1) 0 var(--padding-xs);
  box-sizing: border-box;
  color: var(--color-white);
}
.frame-container,
.vegetarian-or-nonvegetarian-la {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.vegetarian-or-nonvegetarian-la {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-lavender);
  padding: 36.5px 39.6px 37.7px 31.3px;
  box-sizing: border-box;
  gap: 24.5px;
}
.frame-container {
  width: 621px;
  gap: 5.8px;
}
.ai,
.like-symbol {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.like-symbol {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.ai {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 40.9px var(--padding-21xl) 42.2px;
  gap: 7.2px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .div {
    display: none;
  }
  .frame-parent {
    padding-left: var(--padding-387xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .div {
    display: none;
  }
  .vegetarian-or-nonvegetarian-la {
    padding-top: 24px;
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .ai {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent {
    padding-left: var(--padding-184xl);
    box-sizing: border-box;
  }
  .frame-parent1,
  .heart-symbol-parent {
    flex: 1;
  }
  .frame-div,
  .frame-parent10,
  .frame-parent6,
  .frame-parent8,
  .rectangle-parent2,
  .rectangle-parent4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .div {
    display: none;
  }
  .frame-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .div3 {
    font-size: var(--font-size-base);
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .div4 {
    font-size: var(--font-size-base);
  }
  .ai-pick {
    font-size: var(--font-size-xl);
  }
  .group-div {
    flex-wrap: wrap;
  }
  .vegetarian-or-nonvegetarian-la {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
