.moodholiclogo-2-icon {
  height: 121px;
  width: 167px;
  position: relative;
  object-fit: cover;
}
.moodholiclogo-2-wrapper {
  width: 1824px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.frame-parent {
  align-self: stretch;
  height: 128.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.6px;
  max-width: 100%;
}
.frame-item,
.icon {
  position: relative;
  max-width: 100%;
}
.frame-item {
  width: 542.4px;
  height: 683px;
  border-radius: var(--br-11xl);
  background-color: var(--color-oldlace);
  display: none;
}
.icon {
  height: 225.9px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.member-name-input {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 4.5px 0 0;
}
.konan {
  margin: 0;
  width: 139px;
  position: relative;
  font-size: inherit;
  line-height: 39.2px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.konan-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 56px;
}
.div1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  z-index: 1;
}
.member-name-input-parent {
  align-self: stretch;
  width: 261px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frame-wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-8xl) 0 var(--padding-xl);
}
.frame-inner,
.line-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-inner {
  flex: 1;
  position: relative;
  border-top: 1px solid #b2b2b2;
  z-index: 1;
}
.line-wrapper {
  height: 17.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 16.4px;
}
.div2,
.div3 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.div3 {
  white-space: nowrap;
}
.journal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.feelings-memory {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 22.6px;
}
.feelings-memory-wrapper,
.frame-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.feelings-memory-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  font-size: var(--font-size-xl);
}
.frame-group {
  height: 462.4px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24.8px;
  max-width: 100%;
}
.div4,
.group-icon {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.group-icon {
  height: 18.6px;
  width: 18.6px;
  min-height: 19px;
}
.div4 {
  line-height: 15.2px;
  font-weight: 500;
  display: inline-block;
  min-width: 117px;
}
.group-parent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: column;
  padding: 1.7px 0 0;
}
.group-parent {
  height: 18.6px;
  flex-direction: row;
  gap: 8px;
}
.calendar-icon,
.div5 {
  position: relative;
  z-index: 1;
}
.calendar-icon {
  height: 17.1px;
  width: 16.9px;
  min-height: 17px;
}
.div5 {
  line-height: 15.2px;
  font-weight: 500;
  display: inline-block;
  min-width: 117px;
}
.calendar-parent {
  height: 17.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.8px;
}
.diary-shortcut,
.diary-shortcut-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.diary-shortcut {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.diary-shortcut-wrapper {
  width: 473px;
  justify-content: flex-end;
  padding: 0 47.1px 0 47px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.diary-shortcut-wrapper,
.div,
.inner,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
}
.rectangle-parent {
  width: 542.4px;
  border-radius: var(--br-11xl);
  background-color: var(--color-oldlace);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 16.7px 28.1px 108.1px;
  gap: 77.2px;
  max-width: 100%;
}
.div,
.inner {
  align-items: flex-start;
}
.inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-10xs) 0 0;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 40.1px 160.7px 43px;
  gap: 107.7px;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .div {
    gap: 54px 107.7px;
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .konan {
    font-size: 26px;
  }
}
@media screen and (max-width: 700px) {
  .diary-shortcut {
    flex-wrap: wrap;
  }
  .diary-shortcut-wrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .rectangle-parent {
    gap: 39px 77.2px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-51xl);
    box-sizing: border-box;
  }
  .div {
    gap: 27px 107.7px;
  }
}
@media screen and (max-width: 450px) {
  .konan {
    font-size: 19px;
  }
  .konan-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .div1,
  .div2,
  .div3 {
    font-size: var(--font-size-base);
  }
  .rectangle-parent {
    gap: 19px 77.2px;
  }
}
