.input-field-child {
  position: absolute;
  top: 121.2px;
  left: 0;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1837.9px;
  height: 1px;
}
.moodholiclogo-2-icon {
  position: absolute;
  height: calc(100% - 1.2px);
  top: 0;
  bottom: 1.2px;
  left: 829.5px;
  max-height: 100%;
  width: 167px;
  object-fit: contain;
}
.div {
  position: absolute;
  top: 61px;
  left: 29.6px;
  font-weight: 500;
  display: inline-block;
  min-width: 71px;
  white-space: nowrap;
  z-index: 1;
}
.image-1-icon {
  height: 59.8px;
  width: 59.8px;
  position: absolute;
  margin: 0 !important;
  top: -17.9px;
  left: -53.9px;
  object-fit: cover;
}
.div1 {
  width: 60px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
  z-index: 1;
}
.image-1-parent {
  position: absolute;
  top: 59px;
  left: 153.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
}
.group-icon,
.group-icon1 {
  position: absolute;
  top: 45px;
}
.group-icon {
  left: 1760px;
  width: 38.7px;
  height: 35.2px;
  object-fit: contain;
}
.group-icon1 {
  left: 1643px;
  width: 35px;
  height: 35px;
}
.uimgraph-bar-icon {
  position: absolute;
  top: 42px;
  left: 1696px;
  width: 46px;
  height: 41px;
  overflow: hidden;
}
.input-field {
  align-self: stretch;
  height: 122.2px;
  position: relative;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.frame-child {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gold);
  display: none;
}
.star-shape-icon {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.frame-container,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-9) var(--padding-3xl-1) var(--padding-2xs-1) 22.2px;
  background-color: var(--color-gold);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.frame-container {
  flex-direction: column;
  padding: 0 var(--padding-5xs-1) 0 0;
}
.frame-item {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.vector-icon {
  height: 37.5px;
  width: 35px;
  position: relative;
  z-index: 1;
}
.frame-div,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-1) 23.9px var(--padding-xs-4);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-mini);
  flex-direction: row;
}
.frame-div {
  flex-direction: column;
  padding: 0 var(--padding-3xs-7) 0 0;
}
.frame-inner {
  height: 62px;
  width: 84.3px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.vector-icon1 {
  height: 35.3px;
  width: 35.6px;
  position: relative;
  z-index: 1;
}
.rectangle-container,
.rectangle-div {
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini-7) 23.8px var(--padding-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-div {
  height: 62px;
  width: 84.3px;
  position: relative;
  display: none;
}
.vector-icon2 {
  height: 33.3px;
  width: 41.7px;
  position: relative;
  z-index: 1;
}
.frame-group,
.frame-wrapper,
.group-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 15.7px var(--padding-2xl-2) var(--padding-smi) 21.4px;
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-mini);
  justify-content: flex-start;
}
.frame-group,
.frame-wrapper {
  max-width: 100%;
}
.frame-group {
  width: 513.3px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.line-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.relationship-detector-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs-3);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child1 {
  height: 87.7px;
  width: 110.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.frame-child1,
.icon,
.icon1 {
  position: relative;
}
.icon {
  height: 61.3px;
  width: 100px;
  object-fit: cover;
  display: none;
}
.icon1 {
  height: 52px;
  width: 48.1px;
  object-fit: contain;
  z-index: 2;
}
.group-div,
.progress-indicator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress-indicator {
  padding: var(--padding-6xs-2) var(--padding-6xl-3) var(--padding-9xs-1);
  background-image: url(./public/-20240405--31812@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.group-div {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-sm-3) var(--padding-8xs-9) var(--padding-sm-1)
    var(--padding-7xs-7);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b {
  width: 313px;
  position: relative;
  display: inline-block;
}
.div2,
.vector-icon3 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon3 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div2 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-parent {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon4 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div3 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.container,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-group {
  flex-direction: row;
  gap: var(--gap-9xs-9);
}
.box-shadow-icon,
.div4 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.box-shadow-icon {
  height: 18.6px;
  width: 23.3px;
}
.div4 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.box-shadow-parent,
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.box-shadow-parent {
  flex-direction: row;
  gap: var(--gap-6xs-2);
}
.frame-parent4,
.list-item-inner {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent4 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.list-item-inner {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs-4);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.list-item,
.list-item-wrapper {
  flex-direction: column;
  justify-content: flex-start;
}
.list-item {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-mini-1);
  flex-shrink: 0;
  debug_commit: f6aba90;
  max-width: 100%;
}
.list-item-wrapper {
  flex: 1;
  padding: var(--padding-sm-9) 0 0;
  box-sizing: border-box;
  min-width: 237px;
}
.frame-parent3,
.frame-wrapper2,
.list-item-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg-5);
}
.frame-wrapper2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-1);
  box-sizing: border-box;
  min-width: 321px;
}
.data-filter {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.logic-branch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-1) 0 0;
}
.input-collector-icon {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.data-aggregator,
.frame-parent2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.data-aggregator {
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent2 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-34xl-5);
  max-width: 100%;
}
.frame-child2,
.frame-wrapper1 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-2) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child2 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent1,
.relationship-detector-child {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs-5);
}
.relationship-detector-child {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg) var(--padding-smi-6) var(--padding-mid);
  box-sizing: border-box;
}
.frame-child3 {
  height: 87.7px;
  width: 110.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.frame-child3,
.icon2,
.icon3 {
  position: relative;
}
.icon2 {
  height: 61.3px;
  width: 100px;
  object-fit: cover;
  display: none;
}
.icon3 {
  height: 52px;
  width: 48.1px;
  object-fit: contain;
  z-index: 2;
}
.progress-indicator1,
.rectangle-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress-indicator1 {
  padding: var(--padding-5xs-1) var(--padding-6xl-3) var(--padding-10xs-2);
  background-image: url(./public/-20240405--31813@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.rectangle-parent1 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-smi-5) var(--padding-8xs-9) var(--padding-sm-9)
    var(--padding-7xs-7);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b1 {
  width: 313px;
  position: relative;
  display: inline-block;
}
.div5,
.vector-icon5 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon5 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div5 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-container,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper1 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-container {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon6 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div6 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent1,
.wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper2 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-parent1 {
  flex-direction: row;
  gap: var(--gap-9xs-9);
}
.div7,
.vector-icon7 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon7 {
  height: 18.6px;
  width: 23.3px;
}
.div7 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent2,
.wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper3 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent2 {
  flex-direction: row;
  gap: var(--gap-6xs-2);
}
.frame-parent8,
.frame-wrapper6 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent8 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper6 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs-4);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper5,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-mini-1);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper5 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-1);
  box-sizing: border-box;
  min-width: 237px;
  max-width: 100%;
}
.frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg-8);
  max-width: 100%;
}
.frame-wrapper4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini-3);
  box-sizing: border-box;
  min-width: 321px;
  max-width: 100%;
}
.div8 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.vector-icon8 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
}
.frame-parent6,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent9 {
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent6 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-34xl-5);
  max-width: 100%;
}
.frame-child4,
.frame-wrapper3 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-2) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child4 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent5,
.relationship-detector-inner1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-6xs-9);
}
.relationship-detector-inner1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg) var(--padding-sm-7) var(--padding-mid);
  box-sizing: border-box;
}
.frame-child5 {
  height: 87.7px;
  width: 110.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.frame-child5,
.icon4,
.icon5 {
  position: relative;
}
.icon4 {
  height: 78px;
  width: 100px;
  object-fit: cover;
  display: none;
}
.icon5 {
  height: 48.8px;
  width: 35.6px;
  object-fit: contain;
  z-index: 2;
}
.group,
.rectangle-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-13xl) var(--padding-mini-2);
  background-color: transparent;
  background-image: url(./public/-20240405--3174@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.rectangle-parent2 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-8xs-7);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b2 {
  width: 313px;
  position: relative;
  display: inline-block;
}
.div9,
.vector-icon9 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon9 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div9 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent3,
.wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper5 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-parent3 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.sound-decoder-icon {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div10 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.data-merger,
.image-analyzer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-merger {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.image-analyzer {
  flex-direction: row;
  gap: var(--gap-9xs-9);
}
.div11,
.vector-icon10 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon10 {
  height: 18.6px;
  width: 23.3px;
}
.div11 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent4,
.wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper6 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent4 {
  flex-direction: row;
  gap: var(--gap-6xs-2);
}
.frame-parent13,
.frame-wrapper10 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent13 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper10 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs-4);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper9,
.parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.parent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-mini-1);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper9 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-2);
  box-sizing: border-box;
  min-width: 237px;
  max-width: 100%;
}
.frame-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg-8);
  max-width: 100%;
}
.frame-wrapper8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs-6);
  box-sizing: border-box;
  min-width: 321px;
  max-width: 100%;
}
.color-picker {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.color-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-2) 0 0;
}
.size-modifier-icon {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent11,
.shape-maker {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.shape-maker {
  align-items: flex-start;
  gap: var(--gap-2xs-6);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent11 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 54.3px;
  max-width: 100%;
}
.frame-child6,
.frame-wrapper7 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-8) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child6 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent10,
.relationship-detector-inner2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent10 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xs-5);
}
.relationship-detector-inner2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg) var(--padding-smi-8) var(--padding-mid);
  box-sizing: border-box;
}
.frame-child7 {
  height: 87.7px;
  width: 110.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.frame-child7,
.icon6,
.icon7 {
  position: relative;
}
.icon6 {
  height: 61.3px;
  width: 100px;
  object-fit: cover;
  display: none;
}
.icon7 {
  height: 52px;
  width: 48.1px;
  object-fit: contain;
  z-index: 2;
}
.progress-indicator2,
.rectangle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.progress-indicator2 {
  padding: var(--padding-8xs-9) var(--padding-6xl-3) var(--padding-8xs-4);
  background-image: url(./public/-20240405--31814@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.rectangle-parent3 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-mini-7) var(--padding-8xs-9) var(--padding-xs-7)
    var(--padding-7xs-7);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b3 {
  width: 313px;
  position: relative;
  display: inline-block;
}
.div12,
.vector-icon11 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon11 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div12 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent5,
.wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper7 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-parent5 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon12 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div13 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent6,
.wrapper8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper8 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-parent6 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div14,
.vector-icon13 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon13 {
  height: 18.6px;
  width: 23.3px;
}
.div14 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent7,
.wrapper9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper9 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent7 {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.frame-parent15,
.frame-wrapper12 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent15 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper12 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.button-collection-inner,
.parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.parent2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-mini-1);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.button-collection-inner {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-3);
  box-sizing: border-box;
  min-width: 237px;
  max-width: 100%;
}
.button-collection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 18.3px;
  max-width: 100%;
}
.image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm-6);
  box-sizing: border-box;
  min-width: 321px;
  max-width: 100%;
}
.div15 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-2) 0 0;
}
.vector-icon14 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent16,
.image-container-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent16 {
  align-items: flex-start;
  gap: var(--gap-2xs-6);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.image-container-parent {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 54.9px;
  max-width: 100%;
}
.frame-child8,
.frame-wrapper11 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-3) 0 var(--padding-lg);
  box-sizing: border-box;
}
.frame-child8 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent14,
.value-extractor {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent14 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xs-4);
}
.value-extractor {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lg) var(--padding-xs-9) 16.5px;
  box-sizing: border-box;
}
.frame-child9 {
  height: 87.7px;
  width: 110.6px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.icon8,
.icon9 {
  position: relative;
  object-fit: cover;
}
.icon8 {
  height: 91px;
  width: 103.3px;
  display: none;
}
.icon9 {
  height: 37.5px;
  width: 35px;
  z-index: 2;
}
.parent3,
.rectangle-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent3 {
  padding: var(--padding-11xl) var(--padding-12xl-9) var(--padding-4xl-5)
    var(--padding-17xl-4);
  background-image: url(./public/-20240405--317@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.rectangle-parent4 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-11xs-7) 0 var(--padding-7xs-6);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-mini);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b4 {
  width: 313px;
  position: relative;
  display: inline-block;
}
.div16,
.vector-icon15 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon15 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div16 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent8,
.wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper11 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-parent8 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon16 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div17 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent9,
.wrapper12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper12 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-parent9 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div18,
.vector-icon17 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon17 {
  height: 18.6px;
  width: 23.3px;
}
.div18 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent10,
.wrapper13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper13 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent10 {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.function-call,
.function-call-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.function-call {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.function-call-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-wrapper15,
.parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.parent4 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-mini-1);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper15 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-6);
  box-sizing: border-box;
  min-width: 237px;
  max-width: 100%;
}
.frame-parent19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 17.4px;
  max-width: 100%;
}
.frame-wrapper14 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-3);
  box-sizing: border-box;
  min-width: 320px;
  max-width: 100%;
}
.div19 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-2) 0 0;
}
.vector-icon18 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent18,
.frame-parent20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent20 {
  align-items: flex-start;
  gap: var(--gap-2xs-5);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frame-parent18 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-36xl);
  max-width: 100%;
}
.frame-child10,
.frame-wrapper13 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini-3) 0 var(--padding-lgi);
  box-sizing: border-box;
}
.frame-child10 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent17,
.value-extractor1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent17 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xs-4);
}
.value-extractor1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-lgi) var(--padding-3xs-9) 15.6px;
  box-sizing: border-box;
}
.frame-child11 {
  height: 87.7px;
  width: 110.6px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.icon10,
.icon11 {
  position: relative;
  object-fit: cover;
}
.icon10 {
  height: 91px;
  width: 103.3px;
  display: none;
}
.icon11 {
  height: 37.5px;
  width: 35px;
  z-index: 2;
}
.parent5,
.rectangle-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent5 {
  padding: 30.6px var(--padding-12xl-9) var(--padding-3xl-9)
    var(--padding-17xl-4);
  background-image: url(./public/-20240405--317@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.rectangle-parent5 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-11xs-7) 0 var(--padding-7xs-6);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-mini);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.b5 {
  width: 313px;
  position: relative;
  display: inline-block;
}
.div20,
.vector-icon19 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon19 {
  height: 21px;
  width: 19.6px;
  min-height: 21px;
}
.div20 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent11,
.wrapper15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper15 {
  flex-direction: column;
  padding: var(--padding-10xs-4) 0 0;
}
.vector-parent11 {
  flex-direction: row;
  gap: var(--gap-7xs-2);
}
.vector-icon20 {
  height: 19.7px;
  width: 19.9px;
  position: relative;
  min-height: 20px;
}
.div21 {
  position: relative;
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 45px;
}
.vector-parent12,
.wrapper16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper16 {
  flex-direction: column;
  padding: var(--padding-11xs-8) 0 0;
}
.vector-parent12 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.div22,
.vector-icon21 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.vector-icon21 {
  height: 18.6px;
  width: 23.3px;
}
.div22 {
  line-height: 18.4px;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.vector-parent13,
.wrapper17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper17 {
  flex-direction: column;
  padding: var(--padding-11xs-3) 0 0;
}
.vector-parent13 {
  flex-direction: row;
  gap: var(--gap-6xs-1);
}
.function-call-container,
.function-call1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.function-call1 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.function-call-container {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs-3);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.parent6,
.sequential-flow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.parent6 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-mini-1);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.sequential-flow {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-6);
  box-sizing: border-box;
  min-width: 237px;
  max-width: 100%;
}
.filter-tree {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16.4px;
  max-width: 100%;
}
.output-generator {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm-3);
  box-sizing: border-box;
  min-width: 320px;
  max-width: 100%;
}
.div23 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.wrapper18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-2) 0 0;
}
.vector-icon22 {
  height: 22.4px;
  width: 25.9px;
  position: relative;
  min-height: 22px;
}
.frame-parent21,
.input-processor,
.logic-gateway {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent21 {
  align-items: flex-start;
  gap: var(--gap-2xs-5);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.input-processor,
.logic-gateway {
  max-width: 100%;
}
.input-processor {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-36xl);
}
.logic-gateway {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-15xl) 0 var(--padding-15xl-6);
  box-sizing: border-box;
}
.frame-child12 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.relationship-detector-inner3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 14.6px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent,
.relationship-detector {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.relationship-detector {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-5xs-4);
}
.frame-parent {
  width: 738.3px;
  gap: 34.1px;
}
.ai,
.frame-parent,
.stack-data {
  display: flex;
  align-items: flex-start;
}
.stack-data {
  width: 1823.1px;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
.ai {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-21xl) 55.3px;
  box-sizing: border-box;
  gap: 31.1px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .div {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent11,
  .frame-parent18,
  .frame-parent2,
  .frame-parent6,
  .image-container-parent,
  .input-processor {
    gap: var(--gap-8xl);
  }
  .frame-parent {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 650px) {
  .frame-group {
    justify-content: center;
  }
  .button-collection,
  .filter-tree,
  .frame-parent12,
  .frame-parent19,
  .frame-parent3,
  .frame-parent7 {
    flex-wrap: wrap;
  }
  .ai {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .b {
    font-size: var(--font-size-base);
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .b1 {
    font-size: var(--font-size-base);
  }
  .frame-parent8 {
    flex-wrap: wrap;
  }
  .b2 {
    font-size: var(--font-size-base);
  }
  .frame-parent13 {
    flex-wrap: wrap;
  }
  .b3 {
    font-size: var(--font-size-base);
  }
  .frame-parent15 {
    flex-wrap: wrap;
  }
  .b4 {
    font-size: var(--font-size-base);
  }
  .function-call {
    flex-wrap: wrap;
  }
  .b5 {
    font-size: var(--font-size-base);
  }
  .function-call1 {
    flex-wrap: wrap;
  }
}
