.frame-child {
  position: absolute;
  top: 121.2px;
  left: 0;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1837.9px;
  height: 1px;
}
.moodholiclogo-2-icon {
  position: absolute;
  height: calc(100% - 1.2px);
  top: 0;
  bottom: 1.2px;
  left: 829.5px;
  max-height: 100%;
  width: 167px;
  object-fit: cover;
}
.div1 {
  position: absolute;
  top: 61px;
  left: 29.6px;
  font-weight: 500;
  display: inline-block;
  min-width: 71px;
  white-space: nowrap;
  z-index: 1;
}
.image-1-icon {
  height: 59.8px;
  width: 59.8px;
  position: absolute;
  margin: 0 !important;
  top: -17.9px;
  left: -53.9px;
  object-fit: cover;
}
.div2 {
  width: 60px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
  z-index: 1;
}
.image-1-parent {
  position: absolute;
  top: 59px;
  left: 153.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
}
.line-parent {
  align-self: stretch;
  height: 122.2px;
  position: relative;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.image-3-icon {
  height: 460.9px;
  width: 467.4px;
  position: absolute;
  top: -220.3px;
  right: 200.6px;
  display: block;
}
.span {
  font-size: 35px;
  font-weight: 500;
}
.div3 {
  height: 61px;
  width: 1020px;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.emotion-diary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.b {
  color: blue;
}
.h3 {
  margin: 0;
  width: 695px;
  position: relative;
  font-size: 20px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  font-family: inherit;
}
.emotion-diary-parent,
.wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.wrapper {
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-11xl);
}
.emotion-diary-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 41.3px;
}
.frame-item {
  height: 47.1px;
  width: 344.9px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.mood-holic {
  position: relative;
  font-size: var(--font-size-6xl);
  line-height: 30.4px;
  font-family: var(--font-inter);
  color: #717171;
  text-align: left;
  z-index: 1;
  margin-top: 2px;
  /* padding: 10px 20px; 
  background-color: #939191; 
  border-radius: 20px; 
  display: inline-block; 
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
  font-weight: bold;  */
}

.diary-writing-icon {
  width: 20.3px;
  height: 18.7px;
  position: relative;
  z-index: 2;
  margin-top: 6px;
}
.diary-writing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-7) 0 0;
}
.frame-container,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 8.3px 24.1px 8.8px 43.9px;
  border-radius: 1rem;
  justify-content: flex-start;
  gap: 20.6px;
}
.frame-container {
  width: 717.1px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  background-color: var(--color-gainsboro-100);
}
.ai {
  width: 733px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.ai-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
}
.frame-inner,
.icon {
  position: relative;
  max-width: 100%;
}
.frame-inner {
  height: 220.2px;
  width: 736.5px;
  border-radius: var(--br-11xl);
  background-color: var(--color-cornsilk);
  display: none;
}
.icon {
  height: 127.2px;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 4.4px;
}
.rectangle-div {
  height: 38.2px;
  width: 98.5px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.b1 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 60px;
  z-index: 2;
  margin-left: 30px;
}
.frame-parent1,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-7) var(--padding-lg) var(--padding-5xs-5);
  background-color: var(--color-gainsboro-100);
  align-self: stretch;
  border-radius: var(--br-6xl);
  flex-direction: row;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.group-button:hover,
.rectangle-container:hover,
.rectangle-parent1:hover {
  background-color: var(--color-silver);
}
.frame-parent1 {
  width: 98.5px;
  flex-direction: column;
  gap: var(--gap-6xs-6);
}
.icon1 {
  height: 127.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.good-category {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs-5) 0 var(--padding-6xs);
}
.frame-child1 {
  height: 38.2px;
  width: 98.5px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.b2 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 60px;
  z-index: 1;
  margin-right: 5px;
}
.good-category-parent,
.group-button {
  display: flex;
  justify-content: flex-start;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-7) var(--padding-lgi) var(--padding-5xs-5);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-6xl);
  flex-direction: row;
  align-items: flex-start;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.good-category-parent {
  width: 98.5px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-6xs-6);
}
.icon2 {
  width: 96.2px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frame-child2 {
  height: 38.2px;
  width: 98.5px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.b3 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  min-width: 60px;
  z-index: 1;
  margin-left: 30px;
}
.parent,
.rectangle-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-7) var(--padding-lg) var(--padding-5xs-5)
    var(--padding-xl);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-6xl);
  flex-direction: row;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.parent {
  height: 172px;
  flex-direction: column;
  gap: var(--gap-6xs-6);
}
.frame-div,
.frame-group,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-group {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--color-cornsilk);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 21.2px 99.4px var(--padding-8xl) 103.6px;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-div,
.frame-group {
  flex-direction: column;
  justify-content: flex-start;
}
.frame-div {
  align-self: stretch;
  gap: 27.5px;
}
.frame-group {
  width: 736.5px;
  gap: 44.4px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: #6f6f6f;
  font-family: var(--font-inter);
}
.bb {
  font-size: 40px;
}
.frame-wrapper {
  width: 1202.9px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent,
.frame-wrapper,
.inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 1261.5px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 131.2px;
}
.inner {
  width: 1769.9px;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-24xl) 55.8px var(--padding-21xl);
  gap: 160.3px;

}
@media screen and (max-width: 1200px) {
  .frame-parent {
    gap: 66px;
  }
}
@media screen and (max-width: 1050px) {
  .span {
    font-size: 1.5rem;
  }
  .bb {
    font-size: 2rem;
  }
  .h3 {
    font-size: var(--font-size-5xl);
  }
  .div {
    gap: 130px;
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .span {
    font-size: .85rem;
  }
}
@media screen and (max-width: 750px) {
  .emotion-diary-parent {
    gap: 21px;
  }
  .rectangle-group {
    padding-left: 52px;
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .frame-group {
    gap: var(--gap-3xl);
  }
  .frame-parent {
    gap: var(--gap-14xl);
  }
  .div {
    gap: 65px;
  }
}
@media screen and (max-width: 450px) {
  .div3 {
    font-size: var(--font-size-2xl);
  }
  .mood-holic {
    font-size: var(--font-size-xl);
  }
  .rectangle-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .b1,
  .b2,
  .b3 {
    font-size: var(--font-size-base);
  }
  .rectangle-group {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 750px) {
  .rectangle-group {
    margin-right: 50px;
  }
  .frame-wrapper {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .frame-group {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1050px) {
  .image-3-icon {
    margin-top: 30px;
  }
  .h3 {
    margin-top: 40px;
  }
  .emotion-diary-parent {
    gap: 40px;
  }
}
@media screen and (max-width: 750px) {
  .div {
    margin-top: 65px;
  }
  .ai {
    margin-top: 30px;
  }
}
@media screen and (max-width: 675px) {
  .ai {
    font-size: 0.9rem;
  }
}
