.frame-child {
  width: 1824px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.moodholiclogo-2-icon {
  height: 121px;
  width: 167px;
  position: relative;
  object-fit: cover;
}
.line-parent {
  align-self: stretch;
  height: 128.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.6px;
  max-width: 100%;
}

.frame-kid {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}

.frame-item {
  width: 564px;
  height: 682px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}
.h2,
.p,
.p1 {
  margin: 0;
}
.h2 {
  height: 60px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xl-2) var(--padding-5xs);
  font-size: var(--font-size-6xl);
}
.mood-holic {
  margin: 0;
  width: 166px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.mood-holic-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-11xl);
}
.sign-in-button-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  z-index: 1;
}
.sign-in-button {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs-4);
  gap: var(--gap-lgi-8);
  font-size: var(--font-size-11xl);
}
.b {
  position: relative;
  line-height: 18.4px;
  z-index: 1;
}
.container {
  width: 409px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.create-account-button-child {
  height: 59.2px;
  width: 420.7px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.create-account-button-item {
  height: 20.1px;
  width: 21.8px;
  position: relative;
  min-height: 20px;
  z-index: 2;
}
.b1 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 18.4px;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: center;
  min-width: 118px;
  z-index: 2;
}
.create-account-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-xl-2) var(--padding-lgi-1);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-11xl);
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 114.2px;
  white-space: nowrap;
  z-index: 1;
}
.create-account-button:hover {
  background-color: var(--color-gainsboro);
}
.create-account-button,
.google-login-button,
.google-login-button-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.google-login-button {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-3xl);
}
.google-login-button-wrapper {
  width: 429.5px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs-4);
  box-sizing: border-box;
  color: var(--color-gray-100);
}
.frame-inner {
  height: 59.2px;
  width: 420.7px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: var(--br-11xs);
  background-color: var(--color-black);
  width: 18px;
  height: 18px;
  z-index: 2;
}
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.rectangle-container {
  height: 20.1px;
  width: 21.8px;
  position: relative;
}
.b2 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 18.4px;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: center;
  z-index: 2;
}
.rectangle-group,
.sign-in-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-xl-2) var(--padding-lgi-1);
  background-color: var(--color-white);
  flex: 1;
  border-radius: var(--br-11xl);
  gap: 96.2px;
  z-index: 1;
}
.sign-in-header {
  width: 429.5px;
  padding: 0 var(--padding-9xs) 19.2px var(--padding-8xs-4);
}
.b3,
.b4 {
  position: relative;
  line-height: 18.4px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.b4 {
  display: inline-block;
  min-width: 118px;
}
.frame {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 16.5px;
  color: var(--color-darkslategray);
}
.frame,
.frame-wrapper,
.parent {
  display: flex;
  align-items: flex-start;
}
.parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mid-7);
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  color: var(--color-gray-100);
}
.rectangle-parent {
  width: 564px;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-66xl) var(--padding-42xl-3) 86.7px
    var(--padding-42xl-4);
  gap: var(--gap-12xl-8);
  max-width: 100%;
}
.div,
.inner,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
}
.inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-10xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-24xl) var(--padding-136xl)
    var(--padding-21xl);
  gap: var(--gap-92xl-8);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .div {
    gap: var(--gap-37xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .mood-holic {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 700px) {
  .rectangle-parent {
    gap: var(--gap-base);
    padding: var(--padding-36xl) var(--padding-11xl) var(--padding-37xl);
    box-sizing: border-box;
  }
  .div {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .h2 {
    font-size: var(--font-size-xl);
  }
  .mood-holic {
    font-size: var(--font-size-lg);
  }
  .create-account-button {
    gap: 57px;
  }
  .rectangle-group {
    gap: 48px;
  }
}
