body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-mid: 17px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-4xl: 23px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-9xl: 28px;
  --font-size-16xl: 35px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-9xs: 4px;
  --font-size-5xs: 8px;

  /* Colors */
  --color-white: #fff;
  --color-lavender: #e6eaff;
  --color-lavender-100: #d8dfff;
  --color-gray-200: #939393;
  --color-gray-100: #777;
  --color-gray-300: #757575;
  --color-gray-400: #262626;
  --color-royalblue-200: #617aff;
  --color-royalblue-100: #3a54d9;
  --color-darkslategray-100: #494949;
  --color-darkslategray: #464646;
  --color-darkslategray-200: #3f3f3f;
  --color-darkslategray-300: #353535;
  --color-dimgray-500: #727272;
  --color-dimgray-400: #6f6f6f;
  --color-dimgray-200: #5e5e5e;
  --color-dimgray: #535353;
  --color-dimgray-100: #505050;
  --color-dimgray-300: #4f4f4f;
  --color-black: #000;
  --color-whitesmoke: #ededed;
  --color-whitesmoke-200: #ececec;
  --color-whitesmoke-100: #ebebeb;
  --color-gainsboro: #e6e6e6;
  --color-gainsboro-100: #d9d9d9;
  --color-darkgray-300: #b2b2b2;
  --color-darkgray-100: #adadad;
  --color-darkgray: #aaa;
  --color-darkgray-400: #a7a7a7;
  --color-darkgray-200: #9a9a9a;
  --color-oldlace: #fffaea;
  --color-salmon: #ff7878;
  --color-brown: #cc4545;
  --color-gold: #fedb56;
  --color-gold-100: #ffc107;
  --color-goldenrod: #e6c23d;
  --color-lemonchiffon-100: #fff4cc;
  --color-lemonchiffon: #fff1bd;
  --color-silver: #bfbfbf;
  --color-cornsilk: #fff8de;
  --color-lightsteelblue: #cbd4ff;
  --color-tomato: #ff4f4f;
  --color-pink: #ffc1c1;
  --color-mediumslateblue: #3254ff;

  /* Gaps */
  --gap-mini-9: 14.9px;
  --gap-7xs-8: 5.8px;
  --gap-5xl-5: 24.5px;
  --gap-7xl-1: 26.1px;
  --gap-mid-6: 17.6px;
  --gap-smi-4: 12.4px;
  --gap-2xs-5: 10.5px;
  --gap-3xs-2: 9.2px;
  --gap-3xs-4: 9.4px;
  --gap-lg-5: 18.5px;
  --gap-xs-5: 11.5px;
  --gap-sm-5: 13.5px;
  --gap-3xs: 10px;
  --gap-xs-3: 11.3px;
  --gap-mini-6: 14.6px;
  --gap-2xs-4: 10.4px;
  --gap-9xs-4: 3.4px;
  --gap-sm: 14px;
  --gap-8xs-8: 4.8px;
  --gap-lg-4: 18.4px;
  --gap-2xs: 11px;
  --gap-base-7: 15.7px;
  --gap-11xs-7: 1.7px;
  --gap-58xl: 77px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-4xl: 23px;
  --gap-12xl-8: 31.8px;
  --gap-base: 16px;
  --gap-16xl: 35px;
  --gap-lg: 18px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-2xl-8: 21.8px;
  --gap-20xl: 39px;
  --gap-mid: 17px;
  --gap-8xl: 27px;
  --gap-4xs-8: 8.8px;
  --gap-5xs: 8px;
  --gap-5xl-8: 24.8px;
  --gap-3xl-6: 22.6px;
  --gap-6xs-6: 6.6px;
  --gap-3xs-9: 9.9px;
  --gap-17xl-8: 36.8px;
  --gap-2xl-5: 21.5px;
  --gap-7xl-5: 26.5px;
  --gap-7xs-1: 5.1px;
  --gap-3xs-6: 9.6px;
  --gap-5xs-6: 7.6px;
  --gap-9xl-2: 28.2px;
  --gap-15xl-9: 34.9px;
  --gap-xs-7: 11.7px;
  --gap-8xl-4: 27.4px;
  --gap-6xs-4: 6.4px;
  --gap-sm-6: 13.6px;
  --gap-8xs-4: 4.4px;
  --gap-8xs-9: 4.9px;
  --gap-2xs-6: 10.6px;
  --gap-mini: 15px;
  --gap-12xl: 31px;
  --gap-8xl-8: 27.8px;
  --gap-mini-8: 14.8px;
  --gap-3xl: 22px;
  --gap-xs-4: 11.4px;
  --gap-6xs-9: 6.9px;
  --gap-4xs: 9px;
  --gap-mid-7: 17.7px;
  --gap-7xl: 26px;
  --gap-14xl: 33px;
  --gap-13xl: 32px;
  --gap-19xl-8: 38.8px;
  --gap-4xs-7: 8.7px;
  --gap-3xs-5: 9.5px;
  --gap-7xs-7: 5.7px;
  --gap-smi-6: 12.6px;
  --gap-4xs-9: 8.9px;
  --gap-6xs-3: 6.3px;
  --gap-6xs-7: 6.7px;
  --gap-7xs-3: 5.3px;
  --gap-smi-1: 12.1px;
  --gap-10xs-2: 2.2px;
  --gap-11xs: 2px;
  --gap-7xs-6: 5.6px;
  --gap-smi-7: 12.7px;
  --gap-6xs-8: 6.8px;
  --gap-4xs-5: 8.5px;
  --gap-5xs-3: 7.3px;
  --gap-smi-9: 12.9px;
  --gap-10xs-1: 2.1px;
  --gap-7xs-4: 5.4px;
  --gap-smi-2: 12.2px;
  --gap-smi-8: 12.8px;
  --gap-8xs-3: 4.3px;
  --gap-5xs-4: 7.4px;
  --gap-8xl-5: 27.5px;
  --gap-22xl-3: 41.3px;
  --gap-2xl: 21px;
  --gap-5xl: 24px;
  --gap-5xl-4: 24.4px;
  --gap-8xs-2: 4.2px;
  --gap-7xs-5: 5.5px;
  --gap-5xs-5: 7.5px;
  --gap-mini-5: 14.5px;
  --gap-base-5: 15.5px;
  --gap-mid-5: 17.5px;
  --gap-6xs-2: 6.2px;
  --gap-92xl-8: 111.8px;
  --gap-lgi-8: 19.8px;
  --gap-10xl-8: 29.8px;
  --gap-25xl: 44px;
  --gap-35xl-1: 54.1px;
  --gap-mini-2: 14.2px;
  --gap-9xs: 4px;
  --gap-7xs-2: 5.2px;
  --gap-6xs-1: 6.1px;
  --gap-mini-1: 14.1px;
  --gap-lg-8: 18.8px;
  --gap-9xs-9: 3.9px;
  --gap-34xl-5: 53.5px;
  --gap-xs: 12px;
  --gap-33xl: 52px;
  --gap-4xs-4: 8.4px;
  --gap-13xl-5: 32.5px;

  /* Paddings */
  --padding-4xs: 9px;
  --padding-24xl: 43px;
  --padding-21xl: 40px;
  --padding-2xl: 21px;
  --padding-11xs: 2px;
  --padding-17xl-2: 36.2px;
  --padding-20xl-6: 39.6px;
  --padding-18xl-7: 37.7px;
  --padding-12xl-3: 31.3px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-6xl: 25px;
  --padding-10xl: 29px;
  --padding-smi-3: 12.3px;
  --padding-xs: 12px;
  --padding-mini-1: 14.1px;
  --padding-4xs-2: 8.2px;
  --padding-15xl-4: 34.4px;
  --padding-10xs-5: 2.5px;
  --padding-10xs-6: 2.6px;
  --padding-6xs-6: 6.6px;
  --padding-10xs: 3px;
  --padding-7xs-1: 5.1px;
  --padding-9xs-9: 3.9px;
  --padding-8xs: 5px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-smi-1: 12.1px;
  --padding-8xl: 27px;
  --padding-2xs-3: 10.3px;
  --padding-12xl-8: 31.8px;
  --padding-11xs-3: 1.3px;
  --padding-9xs-4: 3.4px;
  --padding-8xs-1: 4.1px;
  --padding-5xs-8: 7.8px;
  --padding-smi-8: 12.8px;
  --padding-smi-6: 12.6px;
  --padding-10xl-2: 29.2px;
  --padding-9xs-1: 3.1px;
  --padding-11xs-1: 1.1px;
  --padding-4xs-6: 8.6px;
  --padding-14xl: 33px;
  --padding-16xl-7: 35.7px;
  --padding-4xl-5: 23.5px;
  --padding-sm-4: 13.4px;
  --padding-7xl-2: 26.2px;
  --padding-4xs-7: 8.7px;
  --padding-3xs-9: 9.9px;
  --padding-6xl-3: 25.3px;
  --padding-9xl-1: 28.1px;
  --padding-base-2: 16.2px;
  --padding-10xs-4: 2.4px;
  --padding-mini: 15px;
  --padding-base-5: 16.5px;
  --padding-5xs-5: 7.5px;
  --padding-5xs-3: 7.3px;
  --padding-7xs-6: 5.6px;
  --padding-smi-4: 12.4px;
  --padding-7xs-5: 5.5px;
  --padding-sm-1: 13.1px;
  --padding-10xs-1: 2.1px;
  --padding-26xl: 45px;
  --padding-3xl: 22px;
  --padding-66xl: 85px;
  --padding-13xl: 32px;
  --padding-36xl: 55px;
  --padding-lgi: 19px;
  --padding-51xl: 70px;
  --padding-58xl: 77px;
  --padding-lgi-1: 19.1px;
  --padding-7xl: 26px;
  --padding-136xl: 155px;
  --padding-20xl: 39px;
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-base: 16px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-141xl-7: 160.7px;
  --padding-base-7: 15.7px;
  --padding-28xl: 47px;
  --padding-4xl: 23px;
  --padding-11xs-7: 1.7px;
  --padding-base-4: 15.4px;
  --padding-37xl: 56px;
  --padding-8xs-5: 4.5px;
  --padding-22xl-1: 41.1px;
  --padding-9xl-7: 28.7px;
  --padding-smi: 13px;
  --padding-lg: 18px;
  --padding-2xs: 11px;
  --padding-3xl-7: 22.7px;
  --padding-xl-5: 20.5px;
  --padding-9xs-5: 3.5px;
  --padding-xs-7: 11.7px;
  --padding-794xl: 813px;
  --padding-387xl: 406px;
  --padding-184xl: 203px;
  --padding-16xl-3: 35.3px;
  --padding-5xs-6: 7.6px;
  --padding-5xl-6: 24.6px;
  --padding-23xl: 42px;
  --padding-7xl-9: 26.9px;
  --padding-smi-7: 12.7px;
  --padding-2xs-7: 10.7px;
  --padding-6xl-8: 25.8px;
  --padding-7xl-1: 26.1px;
  --padding-xs-6: 11.6px;
  --padding-15xl-6: 34.6px;
  --padding-17xl-7: 36.7px;
  --padding-30xl-3: 49.3px;
  --padding-44xl-3: 63.3px;
  --padding-50xl: 69px;
  --padding-48xl-2: 67.2px;
  --padding-sm-3: 13.3px;
  --padding-lg-5: 18.5px;
  --padding-4xs-4: 8.4px;
  --padding-67xl: 86px;
  --padding-34xl: 53px;
  --padding-22xl-8: 41.8px;
  --padding-12xs: 1px;
  --padding-15xl: 34px;
  --padding-9xl: 28px;
  --padding-3xs: 10px;
  --padding-10xs-2: 2.2px;
  --padding-9xs-8: 3.8px;
  --padding-11xs-5: 1.5px;
  --padding-3xl-8: 22.8px;
  --padding-6xl-9: 25.9px;
  --padding-9xs-2: 3.2px;
  --padding-8xs-3: 4.3px;
  --padding-9xs: 4px;
  --padding-lg-3: 18.3px;
  --padding-4xs-9: 8.9px;
  --padding-17xl: 36px;
  --padding-11xl: 30px;
  --padding-10xs-8: 2.8px;
  --padding-23xl-4: 42.4px;
  --padding-6xs-5: 6.5px;
  --padding-smi-9: 12.9px;
  --padding-21xl-9: 40.9px;
  --padding-3xs-1: 9.1px;
  --padding-2xs-4: 10.4px;
  --padding-xs-1: 11.1px;
  --padding-sm-7: 13.7px;
  --padding-7xs-3: 5.3px;
  --padding-5xs-2: 7.2px;
  --padding-8xs-9: 4.9px;
  --padding-mid: 17px;
  --padding-30xl: 49px;
  --padding-xs-3: 11.3px;
  --padding-3xs-6: 9.6px;
  --padding-2xs-2: 10.2px;
  --padding-6xs-8: 6.8px;
  --padding-11xs-6: 1.6px;
  --padding-10xs-9: 2.9px;
  --padding-mid-1: 17.1px;
  --padding-37xl-6: 56.6px;
  --padding-41xl-1: 60.1px;
  --padding-45xl: 64px;
  --padding-12xl-9: 31.9px;
  --padding-14xl-2: 33.2px;
  --padding-35xl-7: 54.7px;
  --padding-3xs-8: 9.8px;
  --padding-11xs-2: 1.2px;
  --padding-37xl-7: 56.7px;
  --padding-41xl-2: 60.2px;
  --padding-3xl-6: 22.6px;
  --padding-14xl-3: 33.3px;
  --padding-6xs-7: 6.7px;
  --padding-11xs-4: 1.4px;
  --padding-2xs-1: 10.1px;
  --padding-8xs-2: 4.2px;
  --padding-xs-5: 11.5px;
  --padding-smi-5: 12.5px;
  --padding-smi-2: 12.2px;
  --padding-xs-4: 11.4px;
  --padding-40xl: 59px;
  --padding-3xl-1: 22.1px;
  --padding-2xs-9: 10.9px;
  --padding-3xs-5: 9.5px;
  --padding-mini-2: 14.2px;
  --padding-36xl-8: 55.8px;
  --padding-2xl-2: 21.2px;
  --padding-33xl: 52px;
  --padding-8xs-4: 4.4px;
  --padding-4xs-3: 8.3px;
  --padding-4xs-8: 8.8px;
  --padding-2xl-6: 21.6px;
  --padding-3xl-9: 22.9px;
  --padding-4xs-5: 8.5px;
  --padding-54xl-7: 73.7px;
  --padding-2xs-5: 10.5px;
  --padding-54xl-3: 73.3px;
  --padding-3xs-7: 9.7px;
  --padding-3xs-4: 9.4px;
  --padding-5xs-1: 7.1px;
  --padding-5xs-7: 7.7px;
  --padding-mini-7: 14.7px;
  --padding-11xs-9: 1.9px;
  --padding-base-1: 16.1px;
  --padding-4xs-1: 8.1px;
  --padding-5xs-9: 7.9px;
  --padding-11xs-8: 1.8px;
  --padding-8xl-2: 27.2px;
  --padding-5xs-4: 7.4px;
  --padding-mid-4: 17.4px;
  --padding-lg-4: 18.4px;
  --padding-mini-8: 14.8px;
  --padding-xs-8: 11.8px;
  --padding-14xl-9: 33.9px;
  --padding-xl-6: 20.6px;
  --padding-12xl: 31px;
  --padding-42xl-3: 61.3px;
  --padding-42xl-4: 61.4px;
  --padding-xl-2: 20.2px;
  --padding-5xl-2: 24.2px;
  --padding-8xs-6: 4.6px;
  --padding-8xs-7: 4.7px;
  --padding-56xl: 75px;
  --padding-base-3: 15.3px;
  --padding-lg-1: 18.1px;
  --padding-mini-3: 14.3px;
  --padding-10xs-3: 2.3px;
  --padding-sm-6: 13.6px;
  --padding-7xs-7: 5.7px;
  --padding-6xs-2: 6.2px;
  --padding-sm-9: 13.9px;
  --padding-xs-9: 11.9px;
  --padding-51xl-7: 70.7px;
  --padding-7xl-4: 26.4px;
  --padding-7xl-6: 26.6px;
  --padding-9xs-6: 3.6px;
  --padding-mid-7: 17.7px;
  --padding-22xl: 41px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-6xl: 25px;
  --br-11xl: 30px;
  --br-11xs: 2px;
  --br-xl: 20px;
  --br-xs: 12px;
}
